.icon_m {
  height: 60px;
  margin: 10px;
}
.dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  box-shadow: 0 0 10px 0 gray;
  border-style: none;
  font-weight: 500;
  height: 0px;
  position: relative;
  overflow: hidden;
  transition: height 0.3s ease-in;
}
.drop {
  height: 400px;
}
.nav-link_m {
  margin: 20px;
  text-decoration: none;
  color: inherit;
}
.inner-container_m {
  display: flex;
  flex-direction: column;
}
