body {
  background-color: white;
}
.container {
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  background-color: transparent;
  color: black;
  box-shadow: 0 0 5px 0 gray;
  flex-wrap: nowrap;
  justify-content: space-around;
  flex-direction: row;
}
.remove-shadow {
  box-shadow: 0px !important;
}
.nav-link {
  margin: 20px;
  text-decoration: none;
  color: inherit;
  font-weight: 300;
}
.nav-links {
  flex-basis: 50%;
}
.icon {
  margin-top: 10px;
  margin-left: 10px;
  height: 10%;
  width: 14%;
}
.inner-container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.hidden {
  display: none;
}
