.base {
  margin-left: 15%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 150px;
  height: 50px;
  border-radius: 3px;
  color: #fff;
  background: #027ad6;
  font: 700 16px sans-serif;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}
@media only screen and (max-width: 600px) {
  .base {
    margin-left: 10%;
  }
}
i {
  width: calc(150px / 30);
  height: calc(50px / 10);
}

@for $i from 1 through 10 {
  i:nth-child(n + #{ 30 * ($i - 1) + 1 }):nth-child(-n + #{ 30 * $i }):hover
    ~ .bg {
    --y: #{10 * $i}%;
  }
}

@for $i from 1 through 30 {
  i:nth-child(30n + #{ $i }):hover ~ .bg {
    --x: #{100 / 30 * $i}%;
  }
}

.bg {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  display: grid;
  place-content: center;
  width: 100%;
  height: 100%;
  grid-column: 1 / span 30;
  grid-row: 1 / span 10;
  transition: opacity 0.3s;
  pointer-events: none;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

i:hover ~ .bg {
  background: radial-gradient(
    circle 110px at var(--x) var(--y),
    rgba(169, 242, 136, 0.4),
    rgba(169, 242, 136, 0)
  );
}
