* {
  margin: 0;
  padding: 0;
}
.landing-page {
  background: url('./../../../data/backk.jpg') no-repeat;
  background-size: 100% 100vh;
  font-family: poppins;
}
.landing {
  height: 100vh;
  position: relative;
}
.h1-landing {
  font-size: 2.5rem;
  color: white;
  padding-top: 15%;
  padding-left: 15%;
}
/* 
@media only screen and (max-width: 600px) {
  .landing {
    padding: 30% 10%;
  }
} */

.sample-blogs{
  width: 100%;
  height: 100vh;
  /* background: url('./../../../data/backk2.jpg') no-repeat;
  background-size: 100% 100vh; */
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
 
  grid-gap: 0px;
}
.footer{
  width: 100%;
  height: 300px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media screen and (max-width: 975px) {
  .sample-blogs{
    margin-top: 25%;
    flex-direction: column;
  }
}