* {
  margin: 0;
  padding: 0;
}
.landing-page {
  background: url('./../../../data/backk.jpg') no-repeat;
  background-size: 100% 100vh;
  font-family: poppins;
}
.landing {
  height: 100vh;
  position: relative;
}
.h1-landing {
  font-size: 2.5rem;
  color: white;
  display: inline-block;
  padding-top: 15%;
  padding-left: 15%;
}

@media only screen and (max-width: 600px) {
  .h1-landing {
    padding-top: 25%;
    padding-left: 10%;
  }
  .landing-page {
    background-size: 100% 90vh;
  }
}

.sample-blogs {
  height: 100%;
  padding-left: 5%;
  /* background: url('./../../../data/backk2.jpg') no-repeat;
  background-size: 100% 100%; */
  background-color: white;
  display: grid;
  justify-content: center;
  grid-gap: 0px;
}
@media screen and (max-width: 975px) {
  .about-us {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-us img {
    margin-left: 0%;
  }
}
.cat-name {
  margin-top: 3%;
  font-size: 225%;
  margin-left: 10%;
}
.about-us img {
  margin-left: 10%;
}
.about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}
.about-us p {
  margin: 2%;
  padding: 3%;
  flex-basis: 50%;
}
.about-us-icon {
  height: 10%;
}
