.tags-bg {
  margin: 25px;
  list-style: none;
  overflow: hidden;
  padding: 0;
}

.tags-bg li {
  float: left;
  font-size: 5px;
}

.tag-bg {
  background: #eee;
  font-family: poppins;
  font-size: 14px;
  cursor: pointer;
  border-radius: 3px 0 0 3px;
  color: crimson;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}
.crimson {
  background: crimson;
  font-family: poppins;
  font-size: 14px;
  cursor: pointer;
  border-radius: 3px 0 0 3px;
  color: white;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}
.crimson::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}
.crimson::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid crimson;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag-bg::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag-bg::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag-bg:hover {
  background-color: crimson;
  color: white;
}

.tag-bg:hover::after {
  border-left-color: crimson;
}

.sort-by-dropdown {
  margin: 1%;
  font-size: 1rem;
  font-family: poppins;
  width: 90%;
}
.sort-by-dropdown label {
  font-size: 1.5rem;
}
.navbar-below {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 900px) {
  .navbar-below {
    flex-direction: column;
    align-items: center;
  }
  .sort-by-dropdown {
    width: 70%;
  }
}

/*SIDENAV*/
/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 20%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 11%; /* Stay at the top */
  background-color: #53dfa6; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding: 50px 10px 0 35px;
  font-size: 1rem;
  font-family: poppins;
}

.drop-hide {
  width: 100%;
  padding-left: 15%;
  display: none;
}

@media only screen and (max-width: 900px) {
  .sidenav {
    display: none !important;
  }
  .blogSearchContainer {
    margin-left: 0 !important;
  }
  .gs-form input[type='password'],
  select {
    display: block;
    width: 70%;
    margin-bottom: 10%;
  }
  .drop-hide {
    display: block;
  }
  .tags-bg {
    margin-left: 30px;
  }
}
/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}
.blogSearchContainer {
  margin-left: 23%;
}
.my-h1 {
  font-family: poppins;
}
