.icon {
  height: 16px;
  width: 16px;
}
.codex-editor {
  margin: 10px;
  border: 2px solid grey;
  font-family: poppins;
  padding: 5px;
}
.editor-h1 {
  font-family: poppins;
  text-align: center;
  margin: 2%;
}
.codex-editor__redactor {
  padding-bottom: 100px !important;
}

/*
  Button Save-Publish
*/
.btn-container-editor {
  display: flex !important;
  font-family: poppins;
  justify-content: center;
}
.btn-editor {
  border: none;
  color: white;
  padding: 10px 25px;
  text-decoration: none;
  font-size: 2rem;
  cursor: pointer;
  margin: 1%;
}
.btn-save {
  background-color: #4caf50;
}
.btn-publish {
  background-color: red;
}
.btn-preview {
  background-color: cadetblue;
}
@media only screen and (max-width: 700px) {
  .btn-container-editor {
    flex-direction: column;
    align-items: center;
    padding: 3px 14px;
  }
  .btn-editor {
    width: 60%;
  }
}
/*Preview*/
.inlineFrame {
  margin: 0 20%;
  border: 1px solid grey;
  height: 60vh;
  transition: all 500ms ease-out;
}
.hide {
  height: 0px;
  border: 0px;
}
@media only screen and (max-width: 700px) {
  .inlineFrame {
    height: 50vh;
  }
  .hide {
    height: 0px;
    border: 0px;
  }
}
