.card_animated {
  width: 400px;
  background-color: white;
}
.card_animated:hover .card__caption {
  top: 50%;
  transform: translateY(-50%);
}
.card_animated:hover .card__image {
  transform: translateY(-10px);
}
.card_animated:hover .card__thumb::after {
  top: 0;
}
.card_animated:hover .card__snippet {
  margin: 20px 0;
}
.card__thumb_animated {
  position: relative;
  max-height: 400px;
  overflow: hidden;
}
@media (min-width: 1024px) {
  .card__thumb_animated {
    max-height: 500px;
  }
}
.card__thumb_animated ::after {
  position: absolute;
  top: 0;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 40%,
    rgba(255, 255, 255, 0) 100%
  );
  transition: 0.3s;
}
@media (min-width: 1024px) {
  .card__thumb_animated ::after {
    top: calc(100% - 140px);
  }
}
.card__image_animated {
  transition: 0.5s ease-in-out;
}
.card__caption_animated {
  position: absolute;
  top: 50%;
  z-index: 1;
  padding: 0 20px;
  color: white;
  transform: translateY(-50%);
  text-align: center;
  transition: 0.3s;
}
@media (min-width: 1024px) {
  .card__caption_animated {
    top: calc(100% - 110px);
    transform: unset;
  }
}
.card__title_animated {
  display: -webkit-box;
  max-height: 85px;
  overflow: hidden;
  font-family: 'Playfair Display', serif;
  font-size: 23px;
  line-height: 28px;
  text-shadow: 0px 1px 5px black;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.card__snippet_animated {
  display: -webkit-box;
  max-height: 150px;
  margin: 20px 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-overflow: ellipsis;
  transition: 0.5s ease-in-out;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
@media (min-width: 1024px) {
  .card__snippet_animated {
    margin: 60px 0;
  }
}
.card__button_animated {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  border: 1px solid white;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.3s;
}
.card__button_animated :hover {
  color: black;
  background-color: white;
}
