.page-cs {
  background: #f1f1f1;
  display: flex;
  flex-wrap: wrap;
  font-family: poppins;
}

.col-cs {
  flex: 1;
  height: 100vh;
  position: relative;
}

.countdown-col-cs {
  background: url(https://images.unsplash.com/photo-1553272725-086100aecf5e?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=701&q=80)
    no-repeat center;
  background-size: cover;
}

.time-cs {
  color: #fff;
  text-transform: uppercase;
  width: 90%;
  display: flex;
  justify-content: center;
}

.middle-cs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.time-cs span {
  padding: 0 14px;
  font-size: 10px;
}

.time-cs span div {
  font-size: 40px;
}

.newslatter-cs {
  width: 90%;
}

.newslatter-cs p {
  font-style: italic;
  font-size: 12px;
}

.newslatter-cs input,
.newslatter-cs button {
  display: block;
  margin: 12px auto;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  padding: 14px 20px;
  border-radius: 30px;
  border: 1px solid #ddd;
  outline: none;
}

.newslatter-button-cs {
  background: linear-gradient(125deg, #51baa3, #4dfacc);
  color: #fff;
  cursor: pointer;
  transition: 0.4s;
}

.newslatter-button-cs:hover {
  opacity: 0.7;
}

@media screen and (max-width: 900px) {
  .col-cs {
    flex: 100%;
  }
}
.email-input::placeholder{
  color: grey;
  opacity: 1;
}